:root{
    --LightGrey:rgb(211, 211, 211);
    --LightVoilet:rgb(184, 183, 255);
    --LighterVoilet:rgb(202, 200, 253);;
    --DarkVoilet: rgb(152, 150, 235);
  
  
    font-family: monospace;
  }
  
  
  html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  